torch==1.7.0+cu101
torchvision==0.9.1
numpy==1.19.4
neurokit2==0.1.1
PyWavelets==1.1.1
numpy==1.19.4
tqdm==4.49.0
timm==0.3.2
einops==0.3.0
iterative-stratification=2.1.0
matplotlib==3.2.1
scipy==1.5.4
pandas==0.24.2
